@page
@model TS.Views.Shared._TestimonialModel
@{
}

<section class="home-testimonial">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 pt-4 d-flex justify-content-center">
                <h3>Testimonials</h3>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <h2>Explore the users experience</h2>
            </div>
        </div>
    </div>

    <div class="testimonial-inner">

        <div class="d-flex testimonial-content-container">

            <div class="col-md-4 style-3 testimonial-content">
                <div class="tour-item ">
                    <div class="tour-desc bg-white">
                        <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam diam rutrum felis suscipit mattis. Cras scelerisque dolor lacus, et.&rdquo;</div>
                        <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/6625914/pexels-photo-6625914.jpeg" alt=""></div>
                        <div class="link-name d-flex justify-content-center">1</div>
                        <div class="link-position d-flex justify-content-center">Student</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 style-3 testimonial-content">
                <div class="tour-item ">
                    <div class="tour-desc bg-white">
                        <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam diam rutrum felis suscipit mattis. Cras scelerisque dolor lacus, et.&rdquo;</div>
                        <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                        <div class="link-name d-flex justify-content-center">2</div>
                        <div class="link-position d-flex justify-content-center">Student</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 style-3 testimonial-content">
                <div class="tour-item ">
                    <div class="tour-desc bg-white">
                        <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam diam rutrum felis suscipit mattis. Cras scelerisque dolor lacus, et.&rdquo;</div>
                        <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                        <div class="link-name d-flex justify-content-center">3</div>
                        <div class="link-position d-flex justify-content-center">Student</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 style-3 testimonial-content">
                <div class="tour-item ">
                    <div class="tour-desc bg-white">
                        <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam diam rutrum felis suscipit mattis. Cras scelerisque dolor lacus, et.&rdquo;</div>
                        <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                        <div class="link-name d-flex justify-content-center">4</div>
                        <div class="link-position d-flex justify-content-center">Student</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 style-3 testimonial-content">
                <div class="tour-item ">
                    <div class="tour-desc bg-white">
                        <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam diam rutrum felis suscipit mattis. Cras scelerisque dolor lacus, et.&rdquo;</div>
                        <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                        <div class="link-name d-flex justify-content-center">5</div>
                        <div class="link-position d-flex justify-content-center">Student</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 style-3 testimonial-content">
                <div class="tour-item ">
                    <div class="tour-desc bg-white">
                        <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam diam rutrum felis suscipit mattis. Cras scelerisque dolor lacus, et.&rdquo;</div>
                        <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                        <div class="link-name d-flex justify-content-center">6</div>
                        <div class="link-position d-flex justify-content-center">Student</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

@*
<section class="slide-option">
    <div id="hiringclientsinfinite" class="ministriesslider">
        <div class="container ministrieslogoswrapper">
            <ul class="ministrieslogositems">
                @{
                    int hc = 0;
                }

                    <li class="ministrieslogos" >
                        <div class="col-md-4 style-3 testimonial-content">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam diam rutrum felis suscipit mattis. Cras scelerisque dolor lacus, et.&rdquo;</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                    <div class="link-position d-flex justify-content-center">Student</div>
                                </div>
                            </div>
                        </div>
                    </li>
                
                @{
                    int hcl = 0;
                }

                    
                    <li class="ministrieslogos" >
                        <div class="col-md-4 style-3 testimonial-content">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam diam rutrum felis suscipit mattis. Cras scelerisque dolor lacus, et.&rdquo;</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                    <div class="link-position d-flex justify-content-center">Student</div>
                                </div>
                            </div>
                        </div>
                    </li>
                
            </ul>
        </div>
    </div>
</section>
*@