@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="row">
    
    <div class="card mb-4">
        <!-- Account -->
        <div class="card-body">
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="d-flex align-items-start align-items-sm-center gap-4">
                <img src="~/img/1.png" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                <div class="button-wrapper">
                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                        <span class="d-none d-sm-block">Upload new photo</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                        <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
                    </label>
                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                        <i class="bx bx-reset d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Reset</span>
                    </button>

                    <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="card-body">
            <form id="profile-form" method="post">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label asp-for="Input.FirstName" class="form-label">First Name</label>
                        <input asp-for="Input.FirstName" class="form-control" type="text" id="firstName" name="firstName" autofocus />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="Input.LastName" for="lastName" class="form-label">Last Name</label>
                        <input asp-for="Input.LastName" class="form-control" type="text" name="lastName" id="lastName" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="Input.NewEmail" for="email" class="form-label">E-mail</label>
                        <input asp-for="Input.NewEmail" class="form-control" type="text" id="email" name="email" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="Input.PhoneNumber" class="form-label" for="phoneNumber">Phone Number</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">US (+1)</span>
                            <input asp-for="Input.PhoneNumber" type="text" id="phoneNumber" name="phoneNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="state" class="form-label">State</label>
                        <input class="form-control" type="text" id="state" name="state" placeholder="California" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="country">Country</label>
                        <select id="country" class="select2 form-select">
                            <option value="">Select</option>
                            <option value="Australia">Australia</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Canada">Canada</option>
                            <option value="China">China</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Japan">Japan</option>
                            <option value="Korea">Korea, Republic of</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Russia">Russian Federation</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="Input.OldPassword" class="form-label">Old Password</label>
                        <input asp-for="Input.OldPassword" class="form-control" type="text" id="firstName" name="firstName" autofocus />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="Input.NewPassword" class="form-label">New Password</label>
                        <input asp-for="Input.NewPassword" class="form-control" type="text" id="firstName" name="firstName" autofocus />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" type="text" id="firstName" name="firstName" autofocus />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-2">
                    <button id="update-profile-button" type="submit" class="btn btn-primary me-2">Save changes</button>
                    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                </div>
            </form>
        </div>
        <!-- /Account -->
    </div>
    
    
</div>

@*
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-5">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>
*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
