.home-testimonial {
    background-color: #231834;
    height: 100%;
    width: 100%;
}

.home-testimonial h3 {
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}

.home-testimonial h2 {
    color: white;
    font-size: 28px;
    font-weight: 700
}

.testimonial-content {
    height: 330px;
    width: 50%;
    padding: 25px 10px 0px;
    position: relative;
    border: 2px solid red;
}
.testimonial-content-container:hover {
    /*-webkit-animation-play-state: paused;*/
    
    animation-play-state:paused;
}

.testimonial-content-container {
    position: relative;
    border: 2px solid blue;
}

    .testimonial-content-container::before, .testimonial-content-container::after {
        content: "";
        height: 100px;
        position: absolute;
        width: 250px;
        z-index: 2;
    }

    .testimonial-content-container::after {
        right: 0;
        top: 0;
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }

    .testimonial-content-container::before {
        left: 0;
        top: 0;
    }

.testimonial-content-container {
    /*-webkit-animation: scroll 10s linear infinite;*/
    animation: scroll 15s linear infinite;
}

    .testimonial-inner .tour-desc {
        border-radius: 5px;
        padding: 40px;
    }
    
.color-grey-3 {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}

.testimonial-inner img.tm-people {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}

.link-name {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}

.link-position {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    color: #6c83a2
}

@keyframes scroll {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(calc(-500px * 6));
    }
}