@model IEnumerable<TS.Models.JobsDateGroup>
@{ //Layout = "_ProfileLayout";
    ViewBag.CurrPage = "ApplicantDashboard";
    ViewData["Title"] = "Jobs Applied";


    string chartTitle = "Applications Statistics";
    string chartUnit = "No. of Jobs Applied";
    int Total = 0;
}

@{ ViewBag.Title = "GetDashboardTest"; }

<h2 class="text-center">Dashboard</h2>
<hr />

<section id="applicantprofile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 dashboardboxes">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">work</i>
                                    </div>
                                    <p class="card-category"><b>Applied Jobs</b></p>
                                    <h3 class="card-title">
                                        @foreach (var item in Model)
                                        {
                                            Total = Total + item.jobCount;

                                        }
                                        @Total
                                    </h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">visibility</i>
                                        <a class="nav-link" asp-area="" asp-controller="ApplicantProfile" asp-action="DashboardViewDetails">View Details</a>
                                     </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 mx-auto">
                <div class="container">
                    <div class="row">

                        <div class="col-md-7 m-0">
                            <div class="card card-chart">


                                @if (Model.Count() > 0)
                                {


                                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
                                    google.charts.setOnLoadCallback(drawChart);

                                    function drawChart() {


    var data = google.visualization.arrayToDataTable([


     ['Date', 'Jobs Applied'],
      @foreach (var data in Model)
      {
                             <Text>['@Convert.ToString(string.Format("{0:dd/MM/yyyy}", data.applicationDate))', @data.jobCount],</Text>
      }

          ]);



            var options = {
              title: '@chartTitle',
              curveType: 'function',
              pointsVisible: true,
              lineWidth: 1,
              legend: { position: 'right' },
              hAxis: { title: 'Job Application Date' },
              vAxis: { title: '@chartUnit' },
              width: '100%',
              height: '100%',
              chartArea: { width: '75%', height: '70%' },
              vAxis: { format: '#'}


        };




        var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
        chart.draw(data, options);
                                    }



                                    </script>
                                }
                                else
                                {
                                       <h4> No recently applied jobs found.  </h4>
                                    <p>
                                        Are you looking for your dream job? Go no further,
                                        <a asp-area="" asp-controller="Home" asp-action="Jobs">Click Here.</a>
                                    </p>
                                }
                                <div class=" container-fluid lead float-left">
                                    <div id="line_chart" style="width: 800px; height: 300px"></div>
                                </div>


                            </div>
                        </div>

                    </div>
        </div>
    </div>
</div>
</div>
</section>